@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
*{
    padding:0;
    margin: 0;
}

@font-face {
    font-family: 'MyFont';
    src: url('Chomsky.otf') format('truetype');
  }

.body{
    background: linear-gradient(to right, #000, Black, transparent), url("fedsnake.png");
    background-size: contain;
    background-position: right;
    min-height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#scoreBox{
    position: absolute;
    top: 19px;
    right: 2%;
    font-family: 'MyFont';
    font-size: 60px;
    text-shadow: 3px 1px 6px aliceblue;
}
#highscoreBox{
    position: absolute;
    top: 100px;
    right: 2%;
    font-family: 'MyFont';
    font-size: 60px;
    text-shadow: 3px 1px 6px aliceblue;
}

#board{
    background: linear-gradient(rgb(8, 42, 1),rgba(0, 0, 0, 0.824));
    width: 95vmin;
    height: 95vmin;
    border: 2px solid rgb(158, 158, 158);
    margin: 1%;
    display: grid;
    grid-template-rows: repeat(14, 1fr);
    grid-template-columns: repeat(14, 1fr);
    overflow: hidden;
    animation: firex 5s infinite alternate;
}
@keyframes firex {
    0% {
      box-shadow: inset 0 0 15px 25px rgba(255, 72, 0, 0.7), inset 0 0 50px 25px rgba(255, 8, 0, 0.5);
    }
    50% {
      box-shadow: inset 0 0 27px 10px rgba(255, 165, 0, 0.7), inset 0 0 70px 32px rgba(255, 98, 0, 0.826), inset 0 0 7px 5px rgba(255, 225, 105, 0.7), inset 0 0 40px 20px rgba(255, 69, 0, 0.5);
    }
    100% {
      box-shadow: inset 0 0 15px 20px rgba(255, 165, 0, 0.7), inset 0 0 50px 15px rgba(255, 69, 0, 0.5);
    }
  }
.head{
    background-image: url("snakehead.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    z-index: 3;
    transform: scale(1.5);
}
.snake{
    background-image: url("./fire.png");
    border: .25vmin solid rgb(226, 7, 7);
    background-size: contain;
    border-radius: 30px;
    animation: fire .5s infinite linear;
}
@keyframes fire {
    0% {
      box-shadow: 0 0 15px 2px #ff1100, 0 0 50px 10px #ff5500;
      background-color: #000000;
    }
    50% {
      box-shadow: 0 0 27px 5px #b61509, 0 0 70px 20px #ff9900, inset 0 0 7px 5px #b61509, inset 0 0 40px 20px #ff9900;
      background-color: #000000;
    }
    100% {
      box-shadow: 0 0 15px 2px #ff1100, 0 0 50px 10px #ff5500, inset 0 0 8px 4px #b61509, inset 0 0 20px 10px #ff9900;
      background-color: #000000;
    }
  }
.food{
    background-image: url("foreignwar.png");
    background-size: contain;
    border: 2px solid rgb(158, 158, 158);
    border-radius: 20px;
    text-align: center;
}
.bailout{
    background-image: url("bailout.png");
    background-size: contain;
    border: 2px solid rgb(158, 158, 158);
    border-radius: 20px;
    text-align: center;
}
.subsidy{
    background-image: url("subsidy.png");
    background-size: contain;
    border: 2px solid rgb(158, 158, 158);
    border-radius: 20px;
    text-align: center;
}
.aid{
    background-image: url("aid.png");
    background-size: contain;
    border: 2px solid rgb(158, 158, 158);
    border-radius: 20px;
    text-align: center;

}
.problems {
  color: rgb(158, 158, 158);
  position: relative;
  bottom: -7vh;
}

.modal {
  display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Style the modal content */
.modal-content {
  background: url("fedsnake.png");
  background-size: cover;
  margin: 10% 0 0 25%;
  padding: 2%;
  border: 1px solid #888;
  width: 50vh;
  height: 50vh;
  z-index: 4;
  font-family: 'MyFont';
  font-size: 30px;
  text-shadow: 3px 1px 6px aliceblue;
}