@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
*{
    padding:0;
    margin: 0;
}

@font-face {
    font-family: 'MyFont';
    src: url('Chomsky.otf') format('truetype');
  }

.body{
    background: linear-gradient(to right, #000, rgb(4, 22, 0), Black, transparent), url("fedsnake.png");
    background-size: contain;
    background-position: right;
    min-height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#scoreBox{
    position: absolute;
    top: 19px;
    right: 2%;
    font-family: 'MyFont';
    font-size: 60px;
    text-shadow: 3px 1px 6px aliceblue;
}
#highscoreBox{
    position: absolute;
    top: 100px;
    right: 2%;
    font-family: 'MyFont';
    font-size: 60px;
    text-shadow: 3px 1px 6px aliceblue;
}
#fedhighscoreBox{
  position: absolute;
  top: 100px;
  right: 2%;
  font-family: 'MyFont';
  font-size: 60px;
  text-shadow: 3px 1px 6px aliceblue;
  margin-top: 60px;
}

#board{
    background: linear-gradient(rgb(8, 42, 1),rgba(0, 0, 0, 0.824));
    width: 95vmin;
    height: 95vmin;
    border: 2px solid rgb(158, 158, 158);
    margin: 1%;
    display: grid;
    grid-template-rows: repeat(14, 1fr);
    grid-template-columns: repeat(14, 1fr);
    overflow: hidden;
    animation: firex 5s infinite alternate;
}
@keyframes firex {
    0% {
      box-shadow: inset 0 0 15px 25px rgba(255, 72, 0, 0.7), inset 0 0 50px 25px rgba(255, 8, 0, 0.5);
    }
    50% {
      box-shadow: inset 0 0 27px 10px rgba(255, 165, 0, 0.7), inset 0 0 70px 32px rgba(255, 98, 0, 0.826), inset 0 0 7px 5px rgba(255, 225, 105, 0.7), inset 0 0 40px 20px rgba(255, 69, 0, 0.5);
    }
    100% {
      box-shadow: inset 0 0 15px 20px rgba(255, 165, 0, 0.7), inset 0 0 50px 15px rgba(255, 69, 0, 0.5);
    }
  }
.head{
    background-image: url("snakehead.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    z-index: 3;
    transform: scale(1.5);
}
.snake{
    background-image: url("./fire.png");
    border: .25vmin solid rgb(226, 7, 7);
    background-size: contain;
    border-radius: 30px;
    animation: fire .5s infinite linear;
}
@keyframes fire {
    0% {
      box-shadow: 0 0 15px 2px #ff1100, 0 0 50px 10px #ff5500;
      background-color: #000000;
    }
    50% {
      box-shadow: 0 0 27px 5px #b61509, 0 0 70px 20px #ff9900, inset 0 0 7px 5px #b61509, inset 0 0 40px 20px #ff9900;
      background-color: #000000;
    }
    100% {
      box-shadow: 0 0 15px 2px #ff1100, 0 0 50px 10px #ff5500, inset 0 0 8px 4px #b61509, inset 0 0 20px 10px #ff9900;
      background-color: #000000;
    }
  }
.food{
    background-image: url("foreignwar.png");
    background-size: contain;
    border: 2px solid rgb(158, 158, 158);
    border-radius: 20px;
    text-align: center;
}
.bailout{
    background-image: url("bailout.png");
    background-size: contain;
    border: 2px solid rgb(158, 158, 158);
    border-radius: 20px;
    text-align: center;
}
.subsidy{
    background-image: url("subsidy.png");
    background-size: contain;
    border: 2px solid rgb(158, 158, 158);
    border-radius: 20px;
    text-align: center;
}
.aid{
    background-image: url("aid.png");
    background-size: contain;
    border: 2px solid rgb(158, 158, 158);
    border-radius: 20px;
    text-align: center;

}
.problems {
  color: rgb(158, 158, 158);
  position: relative;
  bottom: -7vh;
}

.modal {
  display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Style the modal content */
.modal-content {
  background: url("fedsnake.png");
  background-size: cover;
  margin: 2% 0 0 25%;
  padding: 2%;
  border: 1px solid #888;
  width: 80vh;
  height: 80vh;
  z-index: 4;
  font-family: 'MyFont';
  font-size: 30px;
  text-shadow: 3px 1px 6px aliceblue;
}

#bigdiv {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

.control-button {
    font-size: 24px;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    background-color: #ccc;
    border: 2px black solid;
}

@media screen and (min-width: 780px) {
  #controls {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  #controls {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    width: fit-content;
    align-self: center;
  }
}

@media screen and (max-width: 1480px) {
  #scoreBox{
    font-size: 45px;
  }
  #highscoreBox{
    font-size: 40px;
  }
  #fedhighscoreBox{
    font-size: 40px;
    margin-top: 40px;
  }
  .body{
    background: url("fedsnake.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    .modal-content {
    background: url("fedsnake.png");
    background-size: cover;
    background-position: center;
    margin: 2.5%;
    padding: 2.5%;
    border: 1px solid #888;
    width: 90%;
    height: 90%;
    z-index: 4;
    font-family: 'MyFont';
    font-size: 30px;
    text-shadow: 3px 1px 6px aliceblue;
  }
}

@media screen and (max-width: 700px) {
  .problems {
    bottom: -4vh;
  }
  #bigdiv {
    margin-top: 20%;
  }
}  

@media screen and (max-width: 400px) {
  #scoreBox{
    position: absolute;
    top: 5px;
    right: 1%;
    font-family: 'MyFont';
    font-size: 20px;
    text-shadow: 3px 1px 6px aliceblue;
  }
  #highscoreBox{
      position: absolute;
      top: 25px;
      right: 1%;
      font-family: 'MyFont';
      font-size: 20px;
      text-shadow: 3px 1px 6px aliceblue;
  }
  #fedhighscoreBox{
    position: absolute;
    top: 5px;
    right: 1%;
    font-family: 'MyFont';
    font-size: 20px;
    text-shadow: 3px 1px 6px aliceblue;
    margin-top: 40px;
  }
  .food {
    transform: scale(.5);
  }
  .bailout{
    transform: scale(.5);
  }
  .subsidy{
    transform: scale(.5);
  }
  .aid{
    transform: scale(.5);
  }
  .snake {
    transform: scale(.5);
  }
}